@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

:root{
    --main-color:#38c700;
    --black:#000000;
    --bg:#010301de;
    --border:.18rem solid rgba(19, 107, 2, 0.308);
    --nasheColor: #30aa00;
}

*{
    font-family: 'Encode Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius: 5rem;
}

.logo {
    width: 7rem;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: #ccc;
    color: black;
}


.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header a{
    height: 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    
}

.header .mainText{
    justify-content: center;

}


.header .mainText a:hover{
    color:var(--main-color);
    text-shadow: 0.5rem 0.5rem 0.5rem var(--main-color);
    padding-bottom: .5rem;
}



.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

#taller {
    background-color: #757575;

}

#bases{
    background-color: #bdbdbd;
}

#prog {
    padding-top: 65px;
    background-color: #cdcdcd;

}



