@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

:root{
    --main-color:#38c700;
    --black:#000000;
    --bg:#010301de;
    --border:.18rem solid rgba(19, 107, 2, 0.308);
    --nasheColor: #30aa00;
}

*{
    font-family: 'Encode Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    background-color: var(--black);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius: 5rem;
}


section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: #ccc;
    color: black;
}


.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header a{
    height: 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    
}

.header .mainText a:hover{
    color:var(--main-color);
    text-shadow: 0.5rem 0.5rem 0.5rem var(--main-color);
    padding-bottom: .5rem;
}



.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}


#menu-btn{
    display: none;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.534);
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
    text-transform: none;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.534);
}

.about{
    background-color: #070918;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--nasheColor);
    flex-wrap: wrap;
    border-radius: 30px;
    border:var(--border);
    box-shadow: 5px 5px var(--main-color);
}


.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 30px;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color:rgb(43, 43, 43);
}

.about .row .content p{
    font-size: 2rem;
    color:rgb(0, 0, 0);
    padding:1rem 0;
    line-height: 1.8;
    text-transform: none;
}

.contacto{
    background-color: #070918;
}

.contacto .row{
    display: flex;
    background:var(--nasheColor);
    flex-wrap: wrap;
    gap:1rem;
	justify-content: center;
    border-radius: 12px;
    box-shadow: 5px 5px var(--main-color);
}

.contacto .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contacto .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contacto .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:rgb(44, 44, 44);
}

.contacto .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:rgba(85, 81, 61, 0.274);
    border:var(--border);
}

.contacto .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contacto .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:rgb(0, 0, 0);
    text-transform: none;
    background:none;
}




.footer{
    padding-top: 1rem;
    padding-bottom:0rem ;
    background:var(--black);
    text-align: center;
    border-top: var(--border);
}

.footer .redes{
    padding:1rem 0;
}

.footer .redes a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
    margin-bottom: 40px;
}

.footer .redes a:hover{
    background-color: var(--main-color);
}






@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
